<div class="container mt-3">
  <div class="card shadow-lg border-0">
    <div class="card-body">
      <h3 class="card-title mb-4 text-gradient">All Shortened URLs</h3>

      <!-- Table with URLs (Admin Style) -->
      <div *ngIf="urls.length > 0" class="table-responsive">
        <table class="table table-bordered table-hover align-middle">
          <thead class="table-dark">
            <tr>
              <th>Sr No</th>
              <th>🔗 Short URL</th>
              <th>Long URL</th>
              <th>Visits</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let url of urls; let i = index">
              <td>{{ i + 1 + offset }}</td>
              <td>
                <a [href]="'http://localhost:8001/' + url.shortUrl" target="_blank"
                  class="fw-bold text-decoration-none text-primary">
                  {{ url.shortUrl }}
                </a>
              </td>
              <td class="text-truncate" style="max-width: 300px;" title="{{ url.longUrl }}">
                {{ url.longUrl }}
              </td>
              <td>
                <span class="badge rounded-pill bg-success px-3 py-2">{{ url.visits }}</span>
              </td>
              <td>
                <button class="btn btn-sm btn-primary me-3" >Edit</button>
                <button class="btn btn-sm btn-danger  me-3">Delete</button>
                <button class="btn btn-sm btn-outline-secondary me-3"(click)="copyShortUrl(url.shortUrl)">
                  📋 Copy
                </button>
                <button class="btn btn-sm btn-outline-primary">
                Renew
                </button>
              </td>
            </tr>
            <tr *ngIf="urls.length === 0">
              <td colspan="7" class="text-center">No URLs found.</td>
            </tr>
          </tbody>
        </table>

      <!-- Pagination -->
        <app-pagination class="p-0 m-0"
                        [items]="urls"
                        [totalItems]="selectedButtonIndex ? urlsCount : totalTransactionRecords"
                        [limit]="limit"
                        [offset]="offset"
                        (pageChange)="changePage($event)">
        </app-pagination>
      </div>

      <!-- No URLs Message -->
      <div *ngIf="urls.length === 0" class="alert alert-warning text-center mt-4">
        No URLs have been created yet.
      </div>
    </div>
  </div>
</div>
