<ng-container *ngIf="invalidAlias">
  <!-- <div class="center-message">
    <div class="jumbotron">
      <h2 class="text-nowrap">We’re sorry! This link is no longer accessible.</h2>
      <h2 class="text-nowrap">Please contact support if you believe this is an error.</h2>
    </div>
  </div> -->
  <div class="center-message">
    <div class="d-flex flex-column justify-content-center align-items-center p-5">
      <img src="https://png.pngtree.com/template/20210825/ourmid/pngtree-apology-card-template-with-i-am-sorry-for-hurting-you-text-image_583926.jpg" alt="" width="300">
      <p class="fs-24 fw-700 text-grey-500 mt-5">This Link Has Expired</p>
      <p class="fs-20 fw-400 text-grey-600 mt-4">
        Please contact the owner for a new link.
      </p>
      <p class="fs-20 fw-400 text-grey-600 mt-1">
        Need help? Contact us at support <a href="mailto:info@swabhavtechlabs.com"
          class="cursor-pointer text-blue-500 text-decoration-none">support@urlShort.com</a>
      </p>
    </div>
  </div>
</ng-container>
<!-- briesh -->